
.page-width {
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    padding:0 32px;
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}

/* text styles*/

h1, h2, h3, h4, h5, h6 {
   color: #226CE0;
   font-family: 'Raleway', Helvetica, sans-serif;
   margin-top: 0;
}

h1 {
    font-size: 3.052rem;
    font-weight: 600;
}

h2 {
    font-size: 2.441rem;
    font-weight: 400;
}

h3 {
    font-size: 1.953rem;
    font-weight: 400;
}


h4 {
    font-size: 1.5635rem;
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    color: #313939;
    font-weight: 400;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #313939;
}
a:visited { text-decoration: none; color:inherit; }
a:hover { text-decoration: underline; color:#313939; }
a:focus { text-decoration: none; color:#313939; }
a:hover, a:active { text-decoration: none; color:#313939 }


a.button, .button{
    padding: 15px 30px;
    color: white;
    background-color: #FA9F42;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    border:0px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 16px;
}

.button-list .button{
    width: calc(20% - 16px * 4 / 5);
    
}

.alt.button-list .button{
    width: calc(33.33% - 16px * 2 / 3);
}

select{
    background: #226CE0;
    color: white;
    border-radius: 4px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border: 0 solid;
    padding: 16px;
}

.main-title {
    text-align: center;
    font-size: 2.441rem;
    margin-bottom: 0;
    color:white;
}

header{
    background-color: #FA9F42;
}

header .header-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.game-container{
    background-color: white;
    margin: 80px auto;
    padding: 32px;
}
.game-stats, .results{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

.results *{
    flex:1 0 33%;
}

.results #who-won, .results #result{
    text-align: center;
}

.results p:last-child{
    text-align: end;
}

#reset{
    display: block;
    margin: 0 auto;
}
#reset, #modelBtn{
    padding:10px 20px;
    background-color: #226CE0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .modal-content img{
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #game1, #game2{
    display: none;
  }

  #game1.show, #game2.show{
    display: block;
  }
  @media only screen and (max-width: 1024px) {
    .page-width {
        max-width: 100%;
        width: 100%;
        padding: 16px;
    }
    header .header-container{
        flex-wrap: wrap;
    }
    header .header-container h1{
        width: 100%;
        order: 1;
        margin-top: 16px;
        font-size: 1.953rem;
    }
    .button-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .button-list .button{
        margin-bottom: 16px;
        width: calc(33.33% - 16px * 2 / 3);
        flex-grow: 1;
    }
  }

  @media only screen and (max-width: 650px) {
    .button-list .button, .alt.button-list .button{
        width: calc(50% - 16px / 2 );
    }
    .game-container{
        margin: 32px auto;
        padding: 16px;
    }
    .results{
        flex-wrap: wrap;
    }
    .results * {
        flex: 1 0 100%;
        text-align: center;
    }
    .results p:last-child{
        text-align: center;
    }
    .results .results-details{
        order:3;
        text-align: center;
        margin-bottom: 0;
     }
  }

  @media only screen and (max-width: 450px) {
    .button-list .button, .alt.button-list .button{
        width: 100%;
    }

    .game-stats{
        flex-wrap: wrap;
    }
    .game-stats p{
       width: 50%;
       flex-grow: 1;
    }
    .game-stats .win-streak{
        order:3;
        text-align: center;
        margin-bottom: 0;
     }
     
  }
  